<h1>YO <%= name%>  </h1>
<!-- <form action="/" method="post">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Type your name"/>
    <br>
    <ul id="options">
        <label for="options">These are your options</label>
        <li><input type="checkbox" id="option1" name="options" value="option1"/><label for="option1">KILL</label></li>
        <li><input type="checkbox" id="option2" name="options" value="option2"/><label for="option2">DIE</label></li>
        <li><input type="checkbox" id="option3" name="options" value="option3"/><label for="option3">LIQUID</label></li>
    </ul>
    <br>
    <label for="gender">What's your gender?</label>
    <select id="gender" name="gender">
        <option id="male" value="male">MALE</option>
        <option id="female" value="female">FEMALE</option>
    </select>
    <br>
    <label for="bio">BIO:</label>
    <textarea name="bio" id="bio" cols="30" rows="10"></textarea>
    <br>
    <label for="file">Upload photo</label>
    <input type="file" id="file" name="file" accept="image/*">
    <br>
    <button type="submit">SUBMIT</button>

</form> -->

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">LOG OUT</button>
</form>